.main-div {
	height: 100vh;
}

.cat-image {
	display: flex;
	margin: 5vh auto;
	border: 5vw solid rgba(255, 255, 255, 0.75);
	box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	max-width: 60vw;
	max-height: 60vh;
}

button {
	display: block;
	margin: 1vh auto;
	background-color: #ecc8c3;
	padding: 10px 10px;
	border-radius: 5px;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
	background-color: #d5b2ae;
}

.cat-fact {
	text-align: center;
	margin: 0 auto;
	width: 60vw;
	color: rgba(0, 0, 0, 0.8);
	background-color: rgba(255, 255, 255, 0.75);
	border: 10px solid rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}
